[tool.poetry]
name = "pomodoro-timer"
version = "0.1.0"
description = "Pomodoro timer for a specific sound file to play after `m` minutes"
authors = ["Joey <josephrobertlopez@gmail.com>"]
license = "MIT"
readme = "README.md"


[tool.poetry.dependencies]
python = "^3.11"

[tool.poetry.group.dev.dependencies]
behave = "^1.2.6"
pytest = "^8.3.3"
pytest-mock = "^3.14.0"

[tool.poetry.group.pomodoro.dependencies]
pygame = "^2.1.3"  # Ensure pygame is in the pomodoro group

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
